<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
{% block title %}{% endblock %}
<title>MozTanta</title>
<link rel="stylesheet" type="text/css" href="./static/css/persona-css-buttons/persona-buttons.css" />
<link rel="stylesheet" type="text/css" href="./static/css/app.css" />
{% block extra_head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
<!-- js -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script type="text/javascript">

var signinLink = document.getElementById('signin');
var signoutLink = document.getElementById('signout');

function veryfyAssertion(assertion) {

    var domain = window.document.location.hostname;

    $.ajax({
        type: "POST",
        url: domain + '{% url login %}',
        data: {assertion: assertion},
      	success: function(res, status, xhr) { window.location.reload(); },
      	error: function(xhr, status, err) { alert("Login failure: " + err); }
    });	
}

signinLink.onclick = function() {
  	navigator.id.request();
};
 
signoutLink.onclick = function() {
  	navigator.id.logout();
};

navigator.id.watch({
	onlogin: function(assertion){
		veryfyAssertion(assertion);
	},
	onlogout: function(){
		$.ajax({
	        type: "POST",
	        url: domain + '{% url logout %}',
	        success: function(res, status, xhr) { window.location.reload(); },
      		error: function(xhr, status, err) { alert("Logout failure: " + err); }
	    });    	
	}
});

</script>
</body>
</html>
